RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^seventeeninfo\.fr$ [OR]
RewriteCond %{HTTP_HOST} ^www\.seventeeninfo\.fr$
RewriteRule ^/?$ "https\:\/\/seventeeninfo\.fr\/" [R=301,L]

